<h2 id="title">Welcome to BWish</h2>

{{#if session.isAuthenticated}}
<button {{action 'invalidateSession'}}>logout</button>
<!-- {{session.content.secure.token}} -->
{{outlet}}
{{else}}
{{auth-form}}
{{/if}}


<!-- <div class="wrapper">
  {{page-header class='header'}}
  <div class="main">
    {{outlet}}
  </div>
  <div class="push"></div>
</div>
{{page-footer class='footer'}} -->
