<div class="wrapper">
  <!-- {{page-header class='header'}} -->
  <div class="main">
    {{#if session.isAuthenticated}}
    <button {{action 'invalidateSession'}}>logout</button>
    {{session.content.secure.token}}
    {{outlet}}
    {{else}}
    {{auth-form}}
    {{/if}}
  </div>
  <div class="push"></div>
</div>
{{page-footer class='footer'}}
