<div class="wrapper">
  {{page-header class='header'}}
  <div class="main">
    {{#if session.isAuthenticated}}
    {{outlet}}
    {{else}}
    <div class="login">
      <h1>Send a Birthday Wish to your friends!</h1>
      {{auth-form}}
    </div>
    {{/if}}
  </div>
  <div class="push"></div>
</div>
{{page-footer class='footer'}}
